.barra{
    align-content: space-around;
    flex-wrap:wrap;
    display: flex;
    background-color: aqua;
    padding: 10px;
}

.barra div{
    background-color: white;
    color: black;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    padding: 5px;
    justify-content:center;
}
nav{
    background-color: aqua;

}
h1{
    display: flex;
    justify-content:center;
    background-color: pink;
    color: white;
    font-size: 75px;
    font-family: 'Rubik Dirt', cursiva;
}